
@{
    ViewData["Title"] = "Admin Panel";
}

<div class="container-fluid" style="min-height: 10rem;">
    <div class="row">
        <div class="col-lg-2">
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-light">
                <a href="" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                    <span class="fs-4">@_localization.GetKey("Menu").Value</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li>
                        <a href="#" name="our_doctors" class="nav-link side-bar active">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                            @_localization.GetKey("OurDoctors").Value
                        </a>
                    </li>
                    <li>
                        <a href="#" name="appointments" class="nav-link side-bar link-dark">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                            @_localization.GetKey("Appointments").Value
                        </a>
                    </li>
                    <li>
                        <a href="#" name="users" class="nav-link side-bar link-dark">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                            @_localization.GetKey("Users").Value
                        </a>
                    </li>
                    <li>
                        <a href="#" name="work_times" class="nav-link side-bar link-dark">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                            @_localization.GetKey("WorkingTime").Value
                        </a>
                    </li>
                    <li>
                        <a href="#" name="create_appointments" class="nav-link side-bar link-dark">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                            @_localization.GetKey("CreateWorkingTime").Value
                        </a>
                    </li>
                    <li>
                        <a href="#" name="add_doctor" class="nav-link side-bar link-dark">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                            @_localization.GetKey("AddDoctor").Value
                        </a>
                    </li>
                    <li>
                        <a href="#" name="add_main_branch" class="nav-link side-bar link-dark">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                            @_localization.GetKey("AddMainScienceBranch").Value
                        </a>
                    </li>
                    <li>
                        <a href="#" name="add_policlinic" class="nav-link side-bar link-dark">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                            @_localization.GetKey("AddPoliclinic").Value
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown">
                    <a href="@Url.Action("LogOut", "Home")" class="d-flex align-items-center link-dark text-decoration-none" aria-expanded="false">
                        <strong>@_localization.GetKey("LogOut").Value</strong>
                    </a>

                </div>
            </div>
        </div>


        <div id="menu-our_doctors" class="col-lg-10">
            <table class="table table-striped admin-table" style="width:100%;">
                <thead>
                    <tr>
                        <th>@_localization.GetKey("NameSurname").Value</th>
                        <th>@_localization.GetKey("Email").Value</th>
                        <th>@_localization.GetKey("Password").Value</th>
                        <th>@_localization.GetKey("CreatedDate").Value</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var user in (@ViewBag.doctors as ICollection<AllUsersInfo>))
                    {
                        <tr>
                            <td>@user.UserFirstName @user.UserSecondName</td>
                            <td>@user.UserEmail</td>
                            <td>@user.Password</td>
                            <td>@user.CreatedDate</td>
                            <td><a href="/Home/DeleteDoctor/@user.UserId" method="post">Sil</a></td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
        <div id="menu-appointments" class="col-lg-10" style="display:none">
            <table class="table table-striped admin-table" style="width:100%">
                <thead>
                    <tr>
                        <th>@_localization.GetKey("NameSurname").Value</th>
                        <th>@_localization.GetKey("AppointmentPlace").Value</th>
                        <th>@_localization.GetKey("Doctor").Value</th>
                        <th>@_localization.GetKey("AppointmentDate").Value</th>
                        <th>@_localization.GetKey("CreatedDate").Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var appointment in (@ViewBag.appointments as ICollection<AllAppointments>))
                    {
                        <tr>
                            <td>@appointment.UserFirstName @appointment.UserSecondName</td>
                            <td>@appointment.PoliclinicName</td>
                            <td>@appointment.doctorFirstName @appointment.doctorSecondName</td>
                            <td>@appointment.AppointmentDate</td>
                            <td>@appointment.CreatetDate</td>
                        </tr>
                    }
                   
                </tbody>
            </table>
        </div>
        <div id="menu-work_times" class="col-lg-10" style="display:none">
            <table class="table table-striped admin-table" style="width:100%">
                <thead>
                    <tr>
                        <th>@_localization.GetKey("Doctor").Value</th>
                        <th>@_localization.GetKey("Policlinic").Value</th>
                        <th>@_localization.GetKey("MainScienceBranch").Value</th>
                        <th>@_localization.GetKey("WorkStart").Value</th>
                        <th>@_localization.GetKey("WorkEnd").Value</th>
                        <th>@_localization.GetKey("CreatedDate").Value</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var time in (@ViewBag.workTimes as ICollection<AllWorkTimes>))
                    {
                        <tr>
                            <td>@time.UserFirstName @time.UserSecondName</td>
                            <td>@time.PoliclinicName</td>
                            <td>@time.ScienceName</td>
                            <td>@time.StartDate</td>
                            <td>@time.EndDate</td>
                            <td>@time.CreatedDate</td>
                        </tr>
                        }                                        
                    

                </tbody>
            </table>
        </div>
        <div id="menu-users" class="col-lg-10" style="display:none">
            <table class="table table-striped admin-table" style="width:100%">
                <thead>
                    <tr>
                        <th>@_localization.GetKey("NameSurname").Value</th>
                        <th>@_localization.GetKey("Email").Value</th>
                        <th>@_localization.GetKey("UserType").Value</th>
                        <th>@_localization.GetKey("Password").Value</th>
                        <th>@_localization.GetKey("LastLoginDate").Value</th>
                        <th>@_localization.GetKey("CreatedDate").Value</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var user in (@ViewBag.users as ICollection<AllUsersInfo>))
                    {
                        <tr>
                            <td>@user.UserFirstName @user.UserSecondName</td>
                            <td>@user.UserEmail</td>
                            <td>@user.TypeName</td>
                            <td>@user.Password</td>
                            <td>@user.LastLoginDate</td>
                            <td>@user.CreatedDate</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <div id="menu-create_appointments" class="col-lg-10" style="display:none">
            <form action="/Home/AddDoctorWorkTime" method="post">
                <div class="form-group w-50">
                    <label for="MainScienceBranch">@_localization.GetKey("SelectDoctor").Value :</label>
                    <select name="doctor" class="form-control">
                        @foreach (var doctor in (@ViewBag.doctors as ICollection<AllUsersInfo>))
                        {
                            <option value="@doctor.UserId">@doctor.UserFirstName @doctor.UserSecondName</option>                            
                        }
                    </select>
                </div><br>
                <div class="form-group w-50">
                    <label for="Policlinic">@_localization.GetKey("SelectPoliclinic").Value :</label>
                    <select name="policlinic" class="form-control">

                        @foreach (var policlinic in (@ViewBag.policlinics as ICollection<AllPoliclinics>))
                        {
                            <option value="@policlinic.PoliclinicId">@policlinic.PoliclinicName</option>
                        }
                    </select>
                </div><br>
                <div class="form-group w-50">
                    <label for="MainBranch">@_localization.GetKey("SelectMainBranch").Value :</label>
                    <select name="main_branch" class="form-control">

                        @foreach (var branchs in (@ViewBag.branchs as ICollection<AllScienceBranchs>))
                        {
                            <option value="@branchs.MainScienceBranchıd">@branchs.ScienceName</option>
                        }
                    </select>
                </div><br>
                <div class="form-group w-50">
                    <label for="birthday">@_localization.GetKey("StartDate").Value:</label>
                    <input type="date" id="birthday" class="form-control w-50" name="start_date">
                    <label for="birthday">@_localization.GetKey("StartTime").Value:</label><br>
                    <input type="time" id="birthday" class="form-control w-50" name="start_time"><br>
                </div>
                <div class="form-group w-50">
                    <label for="birthday">@_localization.GetKey("EndDate").Value:</label>
                    <input type="date" id="birthday" class="form-control w-50" name="end_date">
                    <label for="birthday">@_localization.GetKey("EndTime").Value:</label><br>
                    <input type="time" id="birthday" class="form-control w-50" name="end_time"><br><hr>
                    <button type="submit" class="btn btn-primary">@_localization.GetKey("Create").Value</button>
                </div>
            </form>
        </div>
        <div id="menu-add_doctor" class="col-lg-10" style="display:none">
            <form action="/Home/AddDoctor" method="post">
                <div class="form-group w-50">
                    <label for="MainScienceBranch">@_localization.GetKey("AddDoctor").Value :</label>
                    <div class="form-group">
                        <label for="exampleInputNameAndSurname">@_localization.GetKey("Name").Value</label>
                        <input type="text" name="doctor_name" class="form-control" id="exampleInputPassword1" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputNameAndSurname">@_localization.GetKey("Surname").Value</label>
                        <input type="text" name="doctor_surname" class="form-control" id="exampleInputPassword1" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputNameAndSurname">@_localization.GetKey("Email").Value</label>
                        <input type="text" name="doctor_email" class="form-control" id="exampleInputPassword1" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputNameAndSurname">@_localization.GetKey("Password").Value</label>
                        <input type="text" name="doctor_password" class="form-control" id="exampleInputPassword1" placeholder="Name">
                    </div>
                </div><br>
               
                <div class="form-group w-50">                    
                    <button type="submit" class="btn btn-primary">@_localization.GetKey("Create").Value</button>
                </div>
            </form>
        </div>
        <div id="menu-add_main_branch" class="col-lg-10" style="display:none">
            <form action="/Home/AddBranch" method="post">
                <div class="form-group w-50">
                    <label for="MainScienceBranch">@_localization.GetKey("AddMainScienceBranch").Value :</label>
                    <div class="form-group">
                        <label for="exampleInputNameAndSurname">@_localization.GetKey("BranchName").Value</label>
                        <input type="text" name="branch_name" class="form-control" id="exampleInputPassword1" placeholder="Name">
                    </div>
                 </div>
                <div class="form-group w-50">
                    <button type="submit" class="btn btn-primary">@_localization.GetKey("Create").Value</button>
                </div>
            </form>
        </div>
        <div id="menu-add_policlinic" class="col-lg-10" style="display:none">
            <form action="/Home/AddPoliclinic" method="post">
                <div class="form-group w-50">
                    <label for="MainScienceBranch">@_localization.GetKey("AddPoliclinic").Value :</label>
                    <div class="form-group">
                        <label for="exampleInputNameAndSurname">@_localization.GetKey("PoliclinicName").Value</label>
                        <input type="text" name="policlinic_name" class="form-control" id="exampleInputPassword1" placeholder="Name">
                    </div>

                    <div class="form-group w-50">
                        <button type="submit" class="btn btn-primary">@_localization.GetKey("Create").Value</button>
                    </div>
                  </div>
            </form>
        </div>
    </div>
</div>

<div class="pop-up">
    <div class="position-absolute top-0 end-0">
        <a id="pop-up" class="btn btn-info" href="#" role="button">X</a>
    </div>
    <h2 class="text-center">Kullanıcı Bilgileri</h2>
    <hr>
    <div class="card col-lg-3 col-md-4 col-sm-6 d-inline-block">
        <img class="card-img-top" src="/img/doctors/d2.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Lorem, ipsum dolor.</p>
        </div>
    </div>
    <div class="d-inline-block">
        <h4>İsim-Soyisim</h4>
        <h4>Yaş: 38</h4>
        <h4>Tecrübe: 10</h4>
        <h4>Uzmanlık: Ortapedi ve Travmatoloji</h4>
    </div>
</div>