@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row pt-10 carousel-parent">
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./img/slider/slide-1.jpeg" style="width: 100%;" alt="Los Angeles" width="1100" height="500">
                </div>
                <div class="carousel-item">
                    <img src="./img/slider/slide-2.jpeg" style="width: 100%;" alt="Chicago" width="1100" height="500">
                </div>
                <div class="carousel-item">
                    <img src="./img/slider/slide-3.jpeg" style="width: 100%;" alt="New York" width="1100" height="500">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    <div class="row" style="margin-top: 3rem;">
        <h2 id="our-doctors" style="text-align: center;">@_localization.GetKey("OurDoctors").Value</h2>
        <hr>
        <div class="card col-lg-3 col-md-4 col-sm-6">
            <img class="card-img-top" src="./img/doctors/d1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-info">More</a>
            </div>
        </div>
        <div class="card col-lg-3 col-md-4 col-sm-6">
            <img class="card-img-top" src="./img/doctors/d2.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-info">More</a>
            </div>
        </div>
        <div class="card col-lg-3 col-md-4 col-sm-6">
            <img class="card-img-top" src="./img/doctors/d3.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-info">More</a>
            </div>
        </div>
        <div class="card col-lg-3 col-md-4 col-sm-6">
            <img class="card-img-top" src="./img/doctors/d3.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-info">More</a>
            </div>
        </div>
        <div class="card col-lg-3 col-md-4 col-sm-6">
            <img class="card-img-top" src="./img/doctors/d3.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-info">More</a>
            </div>
        </div>
        <div class="card col-lg-3 col-md-4 col-sm-6">
            <img class="card-img-top" src="./img/doctors/d3.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-info">More</a>
            </div>
        </div>
        <div class="card col-lg-3 col-md-4 col-sm-6">
            <img class="card-img-top" src="./img/doctors/d3.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-info">More</a>
            </div>
        </div>
        <div class="card col-lg-3 col-md-4 col-sm-6">
            <img class="card-img-top" src="./img/doctors/d3.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-info">More</a>
            </div>
        </div>

    </div>
</div>

<section id="contact-us">
    <div class="container">
        <br>
        <hr>
        <br>
        <div class="row w-100 col-lg-12 col-md-6 col-sm-3">
            <form>
                <fieldset disabled>
                    <legend>@_localization.GetKey("Contact").Value</legend>
                    <div class="mb-3">
                        <label class="form-label">@_localization.GetKey("NameSurname").Value</label>
                        <input type="text" id="name-Surname" class="form-control" placeholder="Name-Surname">
                    </div>
                    <div class="mb-3">
                        <label for="disabledTextInput" class="form-label">@_localization.GetKey("Email").Value</label>
                        <input type="email" id="email" class="form-control" placeholder="E-Mail">
                    </div>
                    <div class="mb-3">
                        <label for="disabledTextInput" class="form-label">@_localization.GetKey("Message").Value</label>
                        <textarea class="form-control" rows="5" id="message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">@_localization.GetKey("Submit").Value</button>
                </fieldset>
            </form>
        </div>
    </div>

</section>
<br>